footer.footer
  .container
    a.footer__link(href="#")
      +icon("circle", "footer__link-img")
      img.icon-footer.footer__link-img(src="images/dest/footer.png")
    nav.footer__nav
      a.footer__link.footer__link-phone(href="#")
        +icon("phone", "footer__link-img")
        span.footer__link-desc +7 977 000-00-00
      a.footer__link.footer__link-mail(href="#")
        +icon("email", "footer__link-img")
        span.footer__link-desc support@mail.ru
      a.footer__link.footer__link-auth(href="#")
        +icon("auth", "footer__link-img")
        span.footer__link-desc Войти
      a.footer__link.footer__link-prtn(href="#")
        +icon("prtn", "footer__link-img")
        span.footer__link-desc Стать партнером
