header.header
  .container
    a.header__link(href="#")
      +icon("circle", "header__link-img")
    nav.header__nav
      a.header__link.header__link-phone(href="#")
        +icon("phone", "header__link-img")
        span.header__link-desc +7 977 000-00-00
      a.header__link.header__link-mail(href="#")
        +icon("email", "header__link-img")
        span.header__link-desc support@mail.ru
      a.header__link.header__link-auth(href="#")
        +icon("auth", "header__link-img")
        span.header__link-desc Войти
      a.header__link.header__link-prtn(href="#")
        +icon("prtn", "header__link-img")
        span.header__link-desc Стать партнером
