.map
  img.map__img(src="images/dest/map.png")
  img.map__img-1(src="images/dest/map-1.png")
  img.map__img-2(src="images/dest/map-2.png")
  img.map__img-3(src="images/dest/map-3.png")
  img.map__img-4(src="images/dest/map-4.png")
