.wrap
  .phone
    img(src="/images/dest/review-phone.png")
    img.phone__img.phone__img-1(src="/images/dest/review-1.png")
    img.phone__img.phone__img-2(src="/images/dest/review-2.png")
    img.phone__img.phone__img-3(src="/images/dest/review-3.png")
