.particles
  position: absolute
  left: -9999999px

.particle
  position: fixed
  top: 0
  left: 0
  border-radius: 50%
  display: block
  width: 180px
  height: 180px
  filter: blur(0px)
  z-index: 1
