.wrap
  &-map
    width: auto
  &-phone
    width: auto
    font-size: 22px
    padding: 5em
.phone
  width: auto
  max-width: 276px
  position: relative
  &:hover
    & .phone__img
      animation: wiggle 2s linear infinite
  &__img
    position: absolute
    z-index: 1
    &-1
      left: calc(-97/276)*100%
      top: calc(-106/364)*100%
      width: calc(200/276)*100%
      height: calc(199/364)*100%
    &-2
      right: calc(-87/276)*100%
      top: calc(35/364)*100%
      width: calc(149/276)*100%
      height: calc(196/364)*100%
    &-3
      left: calc(-88/276)*100%
      bottom: calc(-81/364)*100%
      width: calc(207/276)*100%
      height: calc(155/364)*100%
