section.banner
  .banner__bg
  .container
    .banner__content
      img.banner__img(src="images/dest/banner-desk.png")
      a.banner__anchor
        img.banner__ancor-img(src="../images/dest/anchor.png")
        +icon("anchor", "banner__anchor-icon")
  .socials
    a.socials__link(href="#")
      +icon("inst", "socials__link-img")
    a.socials__link(href="#")
      +icon("vk", "socials__link-img")
    a.socials__link(href="#")
      +icon("fb", "socials__link-img")
