section.banner
  .banner__content
  .socials
    a.socials__link(href="#")
      +icon("inst", "socials__link-img")
    a.socials__link(href="#")
      +icon("vk", "socials__link-img")
    a.socials__link(href="#")
      +icon("fb", "socials__link-img")
  .separator.separator-b.separator-banner
