section.download
  .container
    img.download__img(src="images/dest/download.png")
    img.download__img-desk(src="images/dest/download-desk.png")
    .download__content
      h2.download__title
        span Где 
        |скачать 🚀
      p.download__desc Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа 
      a.download__link(href="#")
        img(src="images/dest/dwnld-gp.png")
      a.download__link(href="#")
        img(src="images/dest/dwnld-as.png")
  .separator.separator-b.separator-download
