section.faq
  .container
    h2.faq__title-tablet Часто задаваемыe 
      span вопросы
      |🍪
    h2.faq__title Часто задаваемыe
      br
      span вопросы
      |🍪
    p.faq__item.faq__item-q Вопрос в несколько слов
    p.faq__item.faq__item-a Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
    p.faq__item.faq__item-q Вопрос в несколько слов
    p.faq__item.faq__item-a Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
    p.faq__item.faq__item-q Вопрос в несколько слов
    p.faq__item.faq__item-a Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
    p.faq__item.faq__item-q Вопрос в несколько слов
    p.faq__item.faq__item-a Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
    p.faq__item.faq__item-q Вопрос в несколько слов
    p.faq__item.faq__item-a Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
  img.faq__img(src="images/dest/faq.png")
  .separator.separator-b.separator-faq
