section.form
  .container
    h2.form__title Связаться с нами 💛
    p.form__descr Вы можете связаться с нами по любому вопросу
    form.form__form
      input.form__input.form__input-name(type="text" placeholder="Ваше Имя")
      input.form__input.form__input-phone(type="text" placeholder="Телефон")
      input.form__input.form__input-mail(type="text" placeholder="E-mail")
      button.form__btn(type="submit") Отправить
    p.form__policy Нажимая на кнопку “Отправить” вы соглашаетесь с 
      a.form__policy-link политикой конфиденциальности
