section.location
  .container
    .location__content
      h2.location__title 
        span Единая платформа 
        br 
        |для всей россии 🌏
      h2.location__title.location__title-table
        span Единая платформа 
        | для всей россии 🌏
      p.location__descr Скачивайте приложение и создавайте свое виртуальное кафе электронным меню, доставкой и возможностью предзаказа. Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа. Скачивайте приложение и создавайте свое виртуальное кафе
    include ../includes/map
