section.promo
  .promo__bg
  .promo__bg-2
  .container
    img.promo__banner(src="images/dest/promo.png")
    img.promo__banner-tablet(src="images/dest/promo-tablet.png")
    img.promo__banner-desk(src="images/dest/promo-desktop.png")
    .promo__content
      h2.promo__title
        span Ваши 
        br
        |любимые рестораны онлайн
      h2.promo__title.promo__title-tablet
        span Ваши 
        |любимые рестораны онлайн
      h2.promo__title.promo__title-desk
        span Ваши 
        |любимые 
        br
        |рестораны онлайн
      p.promo__descr Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа
      p.promo__fact
        span 1740 +
        br
        |Скачиваний
      p.promo__fact
        span 12 +
        br
        |Ресторанов
      p.promo__fact
        span ДО 90%
        br
        |Cкидки
