section.review
  .review__bg
  .review__bg-img
  .review__bg-2
  .container
    include ../includes/phone
    .review__content
      h2.review__title отзывы 
        span 💫
      p.review__descr Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа:
      +icon("review", "review__img")
      .review__item
        p.review__item-descr Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
        cite.review__item-cite Андрей Мирнов, Клиент
