extends includes/layout

block content
  main.main
    include blocks/particles
    
    include blocks/banner
    
    include blocks/download
    
    include blocks/promo
    
    include blocks/location
    
    include blocks/delivery
    
    
    include blocks/faq
    
    include blocks/review
    
    include blocks/form

  script(src="js/app.min.js")
